[Unit]
Description=VersaWare application
After=systemd-user-sessions.service
ConditionPathExists=!/usr/bin/startupscreen

[Service]
User=root
ExecStart=/opt/VersaWareProject/bin/VersaWareProject

[Install]
WantedBy=multi-user.target
